services:
  user-ms:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ../.env
    environment:
      # Override database URL to use host.docker.internal for Docker
      - DATABASE_URL=jdbc:postgresql://host.docker.internal:5432/corems
      # Override communication service URL for Docker
      - COMMUNICATION-SERVICE-BASE-URL=http://communication-ms:3001
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - corems-network

networks:
  corems-network:
    external: true
