spring:
  security:
    cors:
      allowedOrigins: http://localhost:8080
    jwt:
      algorithm: ${AUTH_TOKEN_ALG:HS256}
      issuer: ${AUTH_TOKEN_ISSUER:corems}
      keyId: ${JWT_KEY_ID:corems-1}
      secretKey: ${AUTH_TOKEN_SECRET}
      privateKey: ${JWT_PRIVATE_KEY}
      publicKey: ${JWT_PUBLIC_KEY}
      refreshExpirationTimeInMinutes: 1440
      accessExpirationTimeInMinutes: 10

    oauth2:
      client:
        registration:
          google:
            clientId: ${GOOGLE_CLIENT_ID}
            clientSecret: ${GOOGLE_CLIENT_SECRET}
            redirectUri: '{baseUrl}/oauth2/callback/{registrationId}'
            scope: email, profile
          github:
            clientId: ${GITHUB_CLIENT_ID}
            clientSecret: ${GITHUB_CLIENT_SECRET}
            redirectUri: '{baseUrl}/oauth2/callback/{registrationId}'
            scope: user:email, read:user
